<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/rsrc/bootstrap/css/bootstrap.min.css">
  </head>
  <body>

    {% include header.html %}

    <div class="container">
      <div class="starter-template">

        <div class="alert alert-danger">
          <strong>Work in Progress!</strong> This site <strong>does not</strong> represent the current state of Persona or BrowserID.
        </div>

        {{content}}
      </div>
    </div>

    <script src="{{ site.baseurl }}/rsrc/jquery-2.1.0.min.js"></script>
    <script src="{{ site.baseurl }}/rsrc/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
